* {
  box-sizing: border-box;
}
body {
  font-family: Trebuchet MS;
  margin: 0;
  background-color: #fff319;
}
h1, h2, h3, h4, h5, h6, p{
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}
.ansbtn{
  background: black;
  color: #fff319;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  width: 100%;
  border: 1px solid #fff319;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.ansbtn:disabled{
  cursor:no-drop;
}
.ansbtn:hover:not([disabled]){
  background: #fff319;
  color:black;
}
.button {
  background-color: black;
  border-style: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  padding: 15px 30px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  animation: fadeIn 2.0s;
  transition: all 0.3s;
}
.button:hover{
  background-color: white;
  color:black;
}
.buttoncontainer {
    
} 
.center {
  display: flex;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.centerform {
  animation: fadeIn 2.0s;
  font-family: "Outfit", sans-serif;
  text-align: center;
}
.divider{
  width: 10px;
  height: auto;
  display: inline-block;
}
.endimg{
  display: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  object-fit: scale-down;
  padding: 10px
}
.extbtn{
  background: black;
  border: 1px solid #fff319;
  border-radius: 10px;
  color: #fff319;
  cursor: pointer;
  display: none;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  margin: 20px auto 0;
  padding: 10px;
  transition: all 0.3s;
  width: 150px;
}
.extbtn:hover{
  background: #fff319;
  color:black;
}
.fadeIn{
  animation: fadeIn 2.0s;
}
.fadeOut{
  animation: fadeOut 2.0s;
}
.game-over{
  animation: fadeIn 2.0s;

}
.grid-container {
  justify-content: center;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  animation: fadeIn 2.0s
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
}
.grid-item:hover {
  color: #fff319;
  background-color: black;
}
.icnbtn {
  animation: fadeIn 2.0s;
  background-color: #fff319;
  border: none;
  color: black;
  cursor: pointer;
  display: block;
  font-size: 15px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  transition: all 0.3s;
  padding-left: 10px;
  padding-right: 10px;
}
.icnbtns {
  animation: fadeIn 2.0s;
  background-color: #fff319;
  border: none;
  color: black;
  cursor: pointer;
  display: block;
  font-size: 15px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  transition: all 0.3s;
  translate: -4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}
.icnbtn:hover {
  color: white;
}
input{
  transition: all 0.3s;
  background-color: black;
  color:white;
  cursor: pointer;
  border-color:#fff319;
  border-radius: 30px;
  border-style: none;
  padding: 5px;
}
input:hover{
  color: black;
  border-color: black;
  background-color: white;
}
.intro{
  background-color: #fff319;
  height: 100vh;
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;    
  transition: 1s;
}
.leaderboard{
  animation: fadeIn 2.0s;
  background: black;
  border-radius: 30px;
  color: #fff319;
  display: block;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  max-width: 600px;
  margin: 20px auto 0;    
  padding: 15px;
  text-align: center;
  width: 90%;
}
.leadersplashimg {
  animation: fadeIn 2.0s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  object-fit: scale-down;
}
.loadimg{
  display: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  object-fit: scale-down;
  padding: 30px
}
.mainsplashimg {
  animation: fadeIn 2.0s;
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  max-width: 100%;
  object-fit: scale-down;
  padding: 30px;
}
.nxtbtn{
  background: black;
  border: 1px solid #fff319;
  border-radius: 10px;
  color: #fff319;
  cursor: pointer;
  display: none;
  font-weight: 500;
  margin: 20px auto 0;
  padding: 10px;
  transition: all 0.3s;
  width: 150px;
  

}
.nxtbtn:hover{
  background: #fff319;
  color:black;
}
.quiz{
  background: black;
  border-radius: 30px;
  color: white;
  display: none;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  margin: 100px auto 0;
  max-width: 600px;
  padding: 30px;
  width: 90%;
}
.scorecenter {
  display: flex;
  font-size: larger;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.subtn{
  animation: fadeIn 2.0s;
  background: black;
  border: 1px solid #fff319;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: none;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  margin: 20px auto 0;
  padding: 10px;
  transition: all 0.3s;
  width: 75px;
}
.subtn:hover{
  border-color: black;
  background: white;
  color:black;
}
.splashimg {
  animation: fadeIn 2.0s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  object-fit: scale-down;
  translate: -4px;
  padding: 30px;
}
.username{
  animation: fadeIn 2.0s;
  display: block;
  margin-right: auto;
}
@media screen and (max-width: 700px), (max-height: 700px) {
  
}
@keyframes fadeIn{
  from {
      transform: translateY(-300px);
      opacity: 0;
  }
  to{
      transform: translateY(0px);
      opacity: 1;
  }
}
@keyframes fadeOut{
  from {
      transform: translateY(0px);
      opacity: 1;
  }
  to{
      transform: translateY(-300px);
      opacity: 0;
  }
}
